/*content set*/
#mj-content{
	position: relative;
	background: white;
	margin-top: 20px;
	width: 940px;
	height: 1600px;
}
.mj-content-left{
	float: left;
	background: #fff;
	border:1px solid olive;
	width: 240px;
	height: 798px;
}
.mj-list{
	float: left;
	margin:20px 20px;
	background: #fff;
	position: absolute;
	top: 0px;
	width: 200px;
	height: 220px;
	clear: both;
}
.mj-list ul>li{
	background: #a9a7a7;
	width: 100%;
	height: auto;
	margin: 2px 0px;
}
.mj-list ul li:hover{
	background: gray;
}
#mj-list-show{
	display: none;
}
.mj-marquee{
	margin: auto;
	background: gray;
	overflow:hidden;
	position: relative;
	top:260px;
	width: 90%;
	height: 505px;
}
.mj-marquee-cont{
	position: relative;
	margin:5px auto 0px; 
	width: 96%;
	height: 95px;
	background: #fff;
}
.mj-content-right{
	float: left;
	margin: 0px 5px;
	background: #fff;
	width: 680px;
	height: 800px;
}

.mj-circle-play{
	position: relative;
	margin: 10px auto;
	background: gray;
	width: 480px;
	height: 320px;
}
.mj-circle-play img{
	width: 480px;
	height: 320px;
}
.mj-circle-play button img{
	width: 32px;
	height: 30px;
}
.left{
	position: absolute;
	top: 145px;
	left: 0px;
}
.right{
	position: absolute;
	top: 145px;
	right: 0px;
}
.mj-list-menu{
	margin:5px 20px;
	background: gray;
	border:1px solid #eee;
	width: 600px;
	height: 200px;
}
.mj-list-tit>ul{
	float: left;
}
.mj-list-tit ul>li{
	float: left;
	background: #eae2e2;
	text-align: center;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
	position: relative;
	left: -1px;
	line-height: 40px;
	width: 119px;
	height: 40px;
}
.mj-list-tit ul li.select{
	background: #fff;
	border-bottom: 1px solid #fff;
}
.mj-list-con{
	margin:0px auto;
	background: #fff;
	width: 600px;
	height: 200px;
}
.mj-list-mod ul li a{
	float: left;
	text-align: left;
	line-height: 80px;
	width: 300px;
	height: 80px;
}
.mj-page-review{
	position: relative;
	margin:10px;
	background: gray;
	width: 660px;
	height: 230px;
}
.mj-page-review img{
	float: left;
	margin-top:10px;
	margin-left: 8px;
	width: 100px;
	height: 100px;
}
#mj-img-tip img{
	position: relative;
	top:-105px;
	width: 200px;
	height: 200px;
}
/*content bottom set*/
.mj-content-bottom{
	float: left;
	width: 940px;
	height: 800px;
}
.mj-video-play{
	/* background: gray; */
	margin:10px auto;
	width: 680px;
	height: 320px;
}
.mj-canvas{
	background: gray;
	margin: 0 20px;
	width: 900px;
	height: 460px;
}
.mj-video-play .mj-ui-play{
    background:none repeat scroll 0 0 #333;
    border:3px solid #333;
    border-radius:5px 5px 5px 5px;
    box-shadow:3px 3px 3px #111;
    height;100px;
    padding:10px 20px 10px 10px;
    width:100px;
    position:absolute;
    cursor:pointer;
}
.mj-video-play  .mj-ui-play span{
    border-bottom:50px solid transparent;
    border-left:60px solid #fff;
    border-top:50px solid transparent;
    display:inline-block;
    height:0;
    margin-left:41px;
}
