*{
	padding: 0px;
	margin: 0px;
}
body{
	width:940px;
	margin: auto;
	background: #d6d5d5;
	position: relative;
	/* background: #9e9e9e; */
}
a{
	text-decoration: none;
	color: rgba(37,33,33,.5);
}
li{
	list-style: none;
}

/*header seting*/
header{
	background:#fff;
	border-radius: 4px;
	box-shadow: 3px 3px 2px rgba(0,0,0,.2);
	width: 100%;
	height: 80px;
}
.mj-header-logo {
    float: left;
    position: relative;
    top: 20px;
    left: 15px;
    font-size: 30px;
    color: #fb6f4f;
}
header>ul{
	position: relative;
	top: 20px;
	left: 30px;	
}
header ul>li{
	float: left;
	background: #eae2e2;
	padding: 5px;
	padding-left: 10px;
	border-left: 1px solid transparent;
	border-radius: 1px;
}
header ul li ul li{
	float: none;
	background: #eae2e2;
}
header ul li a{
	font-family: "Microsoft YaHei";
	font-size: 20px;
}
header ul  li  ul{
	display: none;
	z-index: 80;
	position: absolute;
	top: 35px;
	left: 245px;
}
header ul li:hover{
	background: #756a6a;
}
/*header ul li:hover ul{
	display: block;
}*/
.mj-header-login{
	font-family: "sans-serif";
	position: relative;
	top: 10px;
	right: -480px;
	font-size: 20px;
	color: blue;
}
/*header set end*/



/*login set*/
.mj-login{
	display: none;
	float: left;
    background: white;
    position: absolute;
    top: 115px;
    left: 220px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 0px 20px #ddd;
    font-size: 20px;
    z-index: 999;
    border-radius: 4px;
    width: 500px;
    height: 260px;
}
.mj-login-content{
	float: left;
	position: relative;
	top: 30px;
	left: 20px;
}
.mj-login-tilte{
	color: #e22f2f;
	position: relative;
	top: 20px;
	font-size: 30px;
} 
.mj-login span{
	float: left;
	color: gray;
	background: #fff;
	display: block;
    border-radius: 13px;
    border: 1px solid #ebebeb;
    box-shadow: 0 0 5px #ddd;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -45px;
    left: 485px;
    width: 26px;
    height: 26px;
}
.mj-login-input{
	margin: 0px 10px 10px;
    line-height: 30px;
    font-size: 20px;
}
.mj-login-input input{
	line-height: 20px;
	height:30px;
	width: 280px;
	font-size: 16px;
	border: #ebebeb 1px solid;
	text-indent: 5px;
}
.mj-login-button{
	float: left;
	position: relative;
    top: 40px;
    left: 160px;
}
.mj-login-button button{
	line-height: 40px;
    font-size: 17px;
    border: #ebebeb 1px solid;
    text-align: center;
	background: #ded9d9;
    padding: 0px 5px;
    margin: 10px;
    width:70px;	
    height: 40px;
}
#mj-hidden{
	position: absolute;
	display: none;
	top: 0px;
	z-index: 888;
	/*background: gray;*/
	width: 940px;
	height: 650px;
}
/*login set end*/

